.section-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -226px;
    background: #252525;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    max-width: 100%;
    width: 1110px;
}