@mixin font300 {
    font-family: 'Work Sans';
    font-weight: 300;
}
@mixin font400 {
    font-family: 'Work Sans';
    font-weight: 400;
}
@mixin font500 {
    font-family: 'Work Sans';
    font-weight: 500;
}
@mixin font600 {
    font-family: 'Work Sans';
    font-weight: 600;
}
@mixin font700 {
    font-family: 'Work Sans';
    font-weight: 700;
}
@mixin font900 {
    font-family: 'Work Sans';
    font-weight: 900; 
}
@mixin logo__text {
    @include font500;
    color: $colorGreen;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 18px;
    line-height: 16px;
}
@mixin menu-link__item {
    @include font700;
    font-size: 14px;
    line-height: 90px;
    color: $colorWhite;
    text-decoration: none;
    transition: ease 0.5s;
    &:hover {
        color: $colorGreen;
    }
}
@mixin bcg-div {
    background: $bcgPage;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}
@mixin btn-order__header-info {
    @include font900;
    color: $colorWhite;
    letter-spacing: 0.2em;
    font-size: 18px;
    transition: ease 0.5s;
    background: $colorGrey;
    width: 220px;
    height: 72px;
    border-radius: 43px;
    &:hover {
        color: $colorBlack;
        background: $colorGreen;
        border: none;
    }
}
@mixin btn-order__ready-meal {
    @include font900;
    color: $colorWhite;
    font-size: 10px;
    letter-spacing: 0.2em;
    transition: ease 0.5s;
    background: transparent;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    border: 2px solid #303030;
    text-transform: uppercase;
    &:hover {
        color: $colorBlack;
        background: $colorGreen;
    }
}
@mixin header-info__title {
    @include font700;
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: $colorWhite;
}
@mixin header-info__subtitle {
    @include font400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.2px;
    opacity: 0.7;
    color: $colorWhite;
}
@mixin contact-item__link {
    @include font400;
    font-size: 16px;
    line-height: 30px;
    color: $colorWhite;
    text-decoration: none;
    transition: ease 0.5s;
    &:hover {
        color: $colorGreen;
    }
}
@mixin contact-item__span  {
    @include font400;
    font-size: 14px;
    color: $colorWhite;
    opacity: 0.5;
}
@mixin section-title__title {
    @include font900;
    font-size: 100px;
    line-height: 150px;
    letter-spacing: 0.2em;
    color: $colorTitle;
    margin: 0;
    text-transform: uppercase;
}
@mixin section-title__subtitle {
    @include font400;
    font-size: 30px;
    line-height: 60px;
    letter-spacing: 0.2em;
    color: $colorSubtitle;
    margin: 0;
    text-transform: capitalize;
}
@mixin section-about__text {
    @include font400;
    font-size: 16px;
    line-height: 30px;
    color: $colorTextAbout;
}
@mixin border-bottom__section-title {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        width: 60px;
        height: 2px;
        background: $colorGreen;
        bottom: 0;
    }
}
@mixin skill-item__title {
    @include font400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.275px;
    text-transform: capitalize;
    color: $colorWhite;
}
@mixin skill-item__text {
    @include font400;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: $colorTextAbout;
}
@mixin ready-meal__title {
    @include font400;
    font-size: 32px;
    line-height: 30px;
    color: $colorTextAbout;
}
@mixin ready-meal__subtitle {
    @include font400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.15px;
    color: $colorSubtitleMeal;
}
@mixin ready-meal__text {
    @include font400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1625px;
    color: #85878C;
}