@mixin font300 {
    font-family: 'Work Sans';
    font-weight: 300;
}
@mixin font400 {
    font-family: 'Work Sans';
    font-weight: 400;
}
@mixin font500 {
    font-family: 'Work Sans';
    font-weight: 500;
}
@mixin font600 {
    font-family: 'Work Sans';
    font-weight: 600;
}
@mixin font700 {
    font-family: 'Work Sans';
    font-weight: 700;
}
@mixin font900 {
    font-family: 'Work Sans';
    font-weight: 900; 
}
@mixin logo__text {
    @include font500;
    color: $colorGreen;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 18px;
    line-height: 16px;
}
@mixin menu-link__item {
    @include font700;
    font-size: 14px;
    line-height: 90px;
    color: $colorWhite;
    text-decoration: none;
    transition: ease 0.5s;
    &:hover {
        color: $colorGreen;
    }
}
@mixin link-header {
    @include font900;
    color: $colorWhite;
    letter-spacing: 0.2em;
    font-size: 18px;
    line-height: 22px;
    transition: ease 0.5s;
    text-decoration: none;
    background: $colorGrey;
    &:hover {
        color: $colorBlack;
        background: $colorGreen;
    }
}
@mixin header-info__title {
    @include font700;
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: $colorWhite;
}
@mixin header-info__subtitle {
    @include font400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.2px;
    opacity: 0.7;
    color: $colorWhite;
}
@mixin contact-item__link {
    @include font400;
    font-size: 16px;
    line-height: 30px;
    color: $colorWhite;
    text-decoration: none;
    transition: ease 0.5s;
    &:hover {
        color: $colorGreen;
    }
}
@mixin contact-item__span  {
    @include font400;
    font-size: 14px;
    color: $colorWhite;
    opacity: 0.5;
}
@mixin section-title__title {
    @include font900;
    font-size: 100px;
    line-height: 150px;
    letter-spacing: 0.2em;
    color: $colorTitle;
    margin: 0;
    text-transform: uppercase;
}
@mixin section-title__subtitle {
    @include font400;
    font-size: 30px;
    line-height: 60px;
    letter-spacing: 0.2em;
    color: $colorSubtitle;
    margin: 0;
}
@mixin section-about__text {
    @include font400;
    font-size: 16px;
    line-height: 30px;
    color: $colorTextAbout;
}