@font-face {
    font-family: 'Work Sans';
    font-weight: 300;
    font-style: normal;
    src: url(./worksans/WorkSans-Light.woff2) format("woff2"), url(./worksans/WorkSans-Light.woff) format("woff"), url(./worksans/WorkSans-Light.eot) format("eot"), url(./worksans/WorkSans-Light.ttf) format("ttf");
    font-display: swap;
}
@font-face {
    font-family: 'Work Sans';
    font-weight: 400;
    font-style: normal;
    src: url(./worksans/WorkSans-Regular.woff2) format("woff2"), url(./worksans/WorkSans-Regular.woff) format("woff"), url(./worksans/WorkSans-Regular.eot) format("eot"), url(./worksans/WorkSans-Regular.ttf) format("ttf");
    font-display: swap;
}
@font-face {
    font-family: 'Work Sans';
    font-weight: 500;
    font-style: normal;
    src: url(./worksans/WorkSans-Medium.woff2) format("woff2"), url(./worksans/WorkSans-Medium.woff) format("woff"), url(./worksans/WorkSans-Medium.eot) format("eot"), url(./worksans/WorkSans-Medium.ttf) format("ttf");
    font-display: swap;
}
@font-face {
    font-family: "Raleway";
    font-weight: 600;
    font-style: normal;
    src: url(./worksans/WorkSans-SemiBold.woff2) format("woff2"), url(./worksans/WorkSans-SemiBold.woff) format("woff"), url(./worksans/WorkSans-SemiBold.eot) format("eot"), url(./worksans/WorkSans-SemiBold.ttf) format("ttf");
    font-display: swap;
}
@font-face {
    font-family: "Raleway";
    font-weight: 700;
    font-style: normal;
    src: url(./worksans/WorkSans-Bold.woff2) format("woff2"), url(./worksans/WorkSans-Bold.woff) format("woff"), url(./worksans/WorkSans-Bold.eot) format("eot"), url(./worksans/WorkSans-Bold.ttf) format("ttf");
    font-display: swap;
}
@font-face {
    font-family: "Raleway";
    font-weight: 900;
    font-style: normal;
    src: url(./worksans/WorkSans-Black.woff2) format("woff2"), url(./worksans/WorkSans-Black.woff) format("woff"), url(./worksans/WorkSans-Black.eot) format("eot"), url(./worksans/WorkSans-Black.ttf) format("ttf");
    font-display: swap;
}