.ready-meal {
    display: grid;
    max-width: 350px;
    padding: 0 0 30px 0;
    @include bcg-div;
    overflow: hidden;
    position: relative;
}
.ready-meal:hover .rating-label__svg_active {
    fill: $colorOrange;
}