.recipe-active__link {
    position: absolute;
    background: $colorBlack;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    right: 30px;
    top: 30px;
    transition: ease 0.5s;
    opacity: 1;
    &:hover {
        opacity: 0.8;
    }
}
