.skill-item {
    list-style-type: none;
    @include bcg-div;
    max-width: 255px;
    padding: 24px 24px 42px 24px;
    transition: ease 0.5s;
    &:hover {
        background: $colorGreen;
    }
    &:hover .skill-item__text {
        color: #191919;
    }
    &:hover .skill-item__title {
        color: #191919;
        &::after {
            background: #191919;
        }
    }
}
