.section-title_work {
    margin: 90px 0 0 0;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        width: 60px;
        height: 2px;
        background: $colorGreen;
        bottom: 0;
    }
}