.recipe-active {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 540px;
    max-height: 510px;
    position: relative;
    grid-column: 1;
    background: linear-gradient(180deg, rgba(38, 38, 38, 0.0001) 0%, rgba(38, 38, 38, 0.5) 100%);
    @media screen and (max-width: 768px) and (min-width: 320px) {
        display: none;
    }
}